

body {
  background-image: url("../images/background_img.jpg");
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  color:white;
  height:100%;
  text-align:center;
  font-size:18px;
}



h1 {
  color: orange;
}



button {
  background:white;
  color:black;
  border: solid 1px white;
  text-decoration:none;
  cursor:pointer;
  font-size:1.2em;
  padding:18px 10px;
  width:180px;
  margin: 10px;
  outline: none;
  }

.enter {
 
  height: 75px;
  width: 50px;
}






 #reset 


s


#mylives{

  color: white;
}


